:root {
  --primary-color: #ceb81b;
  --secondary-color: #f0efef;
}

body {
  margin: 100px 0;
  background-color: #010101;
  display: block;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  color: var(--secondary-color);
  text-align: center;
   padding-bottom: 15px;
}
h1 {
  font-size: 108px;
  padding-top: 30px;
 
}

h2 {
  font-size: 72px;
  opacity: 0.80;
  padding
}
p {
  font-size: 24px;
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: normal;
  color: #f0efef;
  text-align: center;
  margin-bottom: 30px;
  opacity: 0.80;
  line-height: 1;
}

.navbar-font,
.gallery-button {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}

.gallery-button {
  font-size: 22px;
  background: var(--primary-color);
  padding: 15px 45px;
  border-radius: 50px;
}
@media (max-width: 576px) {
  h1,
  h2 {
    font-size: 32px;
  }
  p {
      font-size: 15px;
  }

