body {
  background-color: #010101;
  display: block;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;

  color: #f0efef;
  text-align: center;
}
h1 {
  margin-top: 80px;
  padding-top: 30px;
  padding-bottom: 15px;
}

p {
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: normal;
  color: #f0efef;
  text-align: center;
  margin-bottom: 30px;
}

.navbar-font,
.gallery-button {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}

.gallery-button {
  background: #f0efef;
  padding: 15px 45px;
  border-radius: 50px;
}
