:root {
  --primary-color: #ceb81b;
  --secondary-color: #f0efef;
}

body {
  margin: 100px 0 10px 0;
  background-color: #010101;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  color: var(--secondary-color);
  text-align: center;
  padding-bottom: 15px;
}
h1 {
  font-size: 108px;
  padding-top: 30px;
}

h2 {
  font-size: 72px;
  opacity: 0.8;
}

p {
  font-size: 24px;
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: normal;
  color: var(--secondary-color);
  margin-bottom: 30px;
  opacity: 0.95;
  line-height: 1;
}

.navbar-font,
.gallery-button,
.contact-button {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}

.navbar-font a {
  font-size: 26px;
}

.gallery-button {
  font-size: 22px;
  background: var(--primary-color);
  padding: 15px 45px;
  border-radius: 50px;
}

.contact-button {
  font-size: 22px;
  background: var(--primary-color);
  padding: 15px 45px;
  margin-top: 45px;
  border-radius: 50px;
}

.about-me-paragraph h1 {
  color: var(--primary-color);
  text-align: start;
  line-height: 0.8;
}
.about-me-paragraph h3 {
  text-align: start;
  line-height: 0.8;
}

.gallery-header {
  color: var(--primary-color);
  margin-bottom: 90px;
}

.links {
  text-decoration: none;
  color: var(--primary-color);
}

.links:hover,
footer .social-links a:hover,
.gallery-button:hover,
.contact-button:hover {
  cursor: crosshair;
  color: var(--secondary-color);
}

footer {
  margin: 60px 0;
  padding: 20px 0;
}
footer .email-link {
  text-decoration: none;
  color: var(--primary-color);
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  padding: 10px 15px;
  font-size: 20px;
}

.contact {
  margin-bottom: 120px;
}

@media (max-width: 576px) {
  body h1,
  h2 {
    font-size: 32px;
  }
  p {
    font-size: 15px;
  }
}
